*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16384c;
}

.container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  width: 1100px;
}

.container .card
{
  position: relative;
  display: flex;
  flex-direction: column;
  margin:30px 10px;
  padding: 20px 10px;
  max-width: 300px;
  height: 215px;
  background: #fff;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  
}

.container .card:hover
{
  height: 420px;
}

.container .card .imgBx
{
  z-index: 1;
  position: relative;
  top: -60px;
  left: 10%;
  width: 230px;
  height: 230px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img
{
  width: 230px;
  height: 230px;
  border-radius: 4px;
}

.container .card .content
{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: margin-top .5s ease-in-out, opacity .8s ease-in-out;
}

.container .card:hover .content
{
  margin-top: -40px;
  visibility: visible;
  opacity: 1;
}