footer{
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    background: #202020;

    .inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 25px;
        max-width: 1180px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        color: #fff;
        
   

        .column{
            margin-right: 3em;
            margin-bottom: 2em;
            font-size: 16px;
            text-align: left;

            h3{
                margin-bottom: 0.75em;
                font-weight: 700;
                font-size: 18px;
            }

            ul{
                li{
                    line-height: 1.5em;

                    a{
                        color: #fff;
                    }
                }
            }

            &.is-logo{
                width: 100%
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

