/* header */
.header-nav{
  position: fixed;
  width: 300px;
  height: 100%;
  background: $blue;
  border-left: 10px solid $blue;
  transition: .5s;
  overflow: hidden;

  .header-title{
    width: 100%;
    

    a{
      @include flexbox(start,center);
      position: relative;
      width: 100%;
      color: $white;
      transition: .3s;

      .icon{
        @include flexbox(center,center);
        position: relative;
        min-width: 60px;
        height: 60px;
        text-align: center;

        ion-icon{
          font-size: 1.75em;
        }
      }

      .title{
        @include flexbox(center,center);
        position: relative;
        padding: 0 10px;
        height: 60px;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        white-space: nowrap;

      }
    }
  }

  .toggle{
    @include flexbox(center, center);
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 2.5em;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
  }

  ul{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;

    li{
      position: relative;
      margin-bottom: 5px;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      a{
        @include flexbox(start,center);
        position: relative;
        width: 100%;
        color: $white;
        transition: .3s;

        .icon{
          @include flexbox(center,center);
          position: relative;
          min-width: 60px;
          height: 60px;
          text-align: center;

          ion-icon{
            font-size: 1.75em;
          }
        }

        .title{
          @include flexbox(center,center);
          position: relative;
          padding: 0 10px;
          height: 60px;
          text-align: start;
          white-space: nowrap;

        }
      }

      
      &.clicked{
        background: $white;

        a{
          color: $blue;

          &::before, &::after{
            content: '';
            position: absolute;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;       
            background: transparent;
            pointer-events: none;
          }

          &::before{
            top: -50px;
            box-shadow: 35px 35px 0 10px $white;
          }

          &::after{
            bottom: -50px;
            box-shadow: 35px -35px 0 10px $white;
          }
        }
      }


      &:last-child{
        margin-bottom: 0px;
      }

      
    }
  }

  &.active{
    width: 80px;
  }


  // responsive
  @media (max-width:991px) {
    left: -300px;


    &.active{
      left: 0;
      width: 300px;
    }
  }

  @media (max-width:480px) {
    width: 100%;
    left: -100%;
    z-index: 10000;

    &.active{
      width: 100vw;
      left: 0;
    }
  }
}


