.main{
  position: absolute;
  left: 300px;
  align-items: center;
  width: calc(100% - 300px);
  min-height: 100vh;
  background: $white;
  transition: .5s;

  &.active{
    left: 80px;
    width: calc(100% - 80px);
  }


  // responsive
  @media (max-width: 991px) {
    width: 100%;
    left: 0;

    &.active{
      left: 300px;
    }
  }


  @media (max-width:480px) {

    &.active{
      display: none;
    }
  }

}


