.glassmorphism {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    color: rgba(255, 255, 255, 1);
}



