html,
body {
  height: 100%;
  color: #222;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* -moz-osx-font-smoothing: grayscale, */
* {
  box-sizing: border-box;
}
.grid {
  display: grid;
  height: 100vh;
  text-align: center;
}
.grid .item {
  align-self: center;
  user-select: none;
  transform: translateZ(0);
}
.grid .item .cbx {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  cursor: pointer;
}
.grid .item .cbx svg {
  position: relative;
  top: -1px;
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.grid .item .cbx svg polyline {
  stroke-width: 2;
  stroke: #18cda6;
}
.grid .item .cbx:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #18cda6;
  transform: scale(0);
}
.grid .item .cbx:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 -18px 0 #18cda6, 12px -12px 0 #18cda6, 18px 0 0 #18cda6, 12px 12px 0 #18cda6, 0 18px 0 #18cda6, -12px 12px 0 #18cda6, -18px 0 0 #18cda6, -12px -12px 0 #18cda6;
  transform: scale(0);
}
.grid .item .cbx-lbl {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
.grid .item .cbx-lbl:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: #9098a9;
}
.grid .item input {
  display: none;
}
.grid .item input:checked + .cbx {
  border-color: transparent;
}
.grid .item input:checked + .cbx svg {
  transform: scale(1);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.grid .item input:checked + .cbx:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}
.grid .item input:checked + .cbx:after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}
.grid .item input:checked ~ .cbx-lbl {
  color: #9098a9;
}
.grid .item input:checked ~ .cbx-lbl:after {
  width: 100%;
  transition: all 0.4s ease;
}
.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
}
.credit img {
  width: 80px;
  height: 20px;
}
.credit:hover {
  transform: scale(0.95);
  opacity: 0.8;
}
