//[Flex 리팩토링]

//map
$flex-map:(
  start: flex-start,
  end: flex-end,
  center:center,
  around:space-around,
  between: space-between,
);

// @function를 통해 함수 생성
@function funcflex($key){
  @return map-get($flex-map,$key)
};


//[스텐다드 flexbox]
@mixin flexbox($jc:$key, $ai:$key) {
  display: flex;
  justify-content: funcflex($jc);
  align-items: funcflex($ai );
}

//[inline- flexbox]
@mixin flexbox-inline($jc:$key, $ai:$key){
  display: inline-flex;
  justify-content: funcflex($jc);
  align-items: funcflex($ai);
}

//[column- flexbox]
@mixin flexbox-column($jc:$key, $ai:$key) {
  display: flex;
  flex-direction: column;
  justify-content: funcflex($jc);
  align-items: funcflex($ai );
}


